.interface {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
}

h2.titulo {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

h2.titulo span {
    color: #00ff08;
}

.btn_cinepot button {
    padding: 4px 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    gap: 20px;
    margin-top: 60px;
}

.btn_cinepot button:hover {
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}

.btn_cinepot {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cinepot .txt_cinepot {
    color: #fff;
}

.cinepot .btn_online button {
    padding: 4px 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: #ffffff;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.cinepot .btn_online button:hover {
    box-shadow: 0px 0px 8px #ffffff;
    transform: scale(1.05);
}

.cinepot .btn_online {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.txt_cinepot .voltar {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.txt_cinepot .voltar p {
    display: flex;
    /* adicionado */
    align-items: center;
    /* centraliza verticalmente */
    gap: 10px;
    /* espaço entre ícone e texto */
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.txt_cinepot .voltar a {
    text-decoration: none;
}

.txt_cinepot .voltar p:hover {
    color: #00ff08;
    transform: scale(1.05);
}

.icone {
    font-size: 18px;
}

.txt_img {
    display: flex;
    justify-content: center;
    /* Alinha a imagem à esquerda */
    margin-top: 50px;
    /* opcional: só para afastar da seção acima */
}

.txt_img img {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 40px;
}


.login h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 200px;
    text-align: center;
    margin-top: 60px;
}

@media screen and (max-width: 1020px) {
    .flex {
        flex-direction: column;
    }

    section .txt_cinepot {
        padding: 20px 6%;
    }
    .btn_cinepot {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .btn_cinepot button {
        font-size: 14px;
        color: #000;
    }
    .txt_img {
        padding: 10px;
    }
    .txt_img img {
        max-width: 70%;
    }
    .cinepot .txt_potcakes p {
        font-size: 16px;
    }

    .cinepot .btn_online button {
        font-size: 13px;
        padding: 9px 10px;
        color: #000;
    }
    .txt_cinepot .voltar p {
        font-size: 14px;
    }

    h2.titulo {
        font-size: 30px;
    }
    .login h2 {
        font-size: 22px;
        margin-bottom: -30px;
    }

}