.interface{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
}

section.especialidades{
    padding: 40px 4%;
    margin-top: 30px;
}

section.especialidades .flex{
    gap: 60px;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #00ff08;
}

.especialidades .especialidades_box{
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 30px;
    transition: .2s;
    margin-top: 20ex;
}

.especialidades .especialidades_box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff6a;
    cursor: pointer;
}

.especialidades .especialidades_box i{
    font-size: 70px;
    color: #00ff08;
}

.especialidades .especialidades_box h3{
    font-size: 28px;
    margin: 15px 0;
}

.especialidades .especialidades_box p{
    font-size: 22px;
}

@media screen and (max-width: 1020px) {

    .flex{
        flex-direction: column;
    }

    section.especialidades{
        padding: 40px 8%;
       
    }
    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }
    
}