.interface{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
}

.btn_contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600; 
    background-color: #00ff08;
    border: 0;
    border-radius: 30px; 
    cursor: pointer;
    transition: .2s;
}

.btn_contato button:hover{
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}
 
.perfil{
    width: 400px;
    border-radius: 30px;
}


section.topo_do_site{
    padding: 40px 4%;
    margin-top: 40px;
}


section .topo_do_site .flex{
    align-items: center;
    justify-content: center;
    gap: 120px;
    line-height: 40px;
}

.topo_do_site h1{
    color: #fff;
    font-size: 42px;
}

.topo_do_site  .txt_topo_site h1 span{
    color: #00ff08;
    font-size: 42px;
}

.topo_do_site .txt_topo_site p{
    color: #fff;
    margin: 40px 0;
    font-size: 25px;
}

.topo_do_site .img_topo_site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}


.btn_social button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #00ff08;
    font-size: 30px;
    cursor: pointer;
    margin: 0 8px;
    transition: .2s;
    margin-top: 20px; 
}

.btn_social button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #00ff08;
}
.nome{
    display: inline;
}

@media screen and (max-width: 1020px) {

    .flex{
        flex-direction: column;
    }

    .topo_do_site .flex{
        flex-direction: column-reverse;
    }

    section .topo_do_site .flex{
        gap: 40px;
    }    
 
    section.topo_do_site{
        padding: 20px 4%;
    }

    .topo_do_site h1{
        font-size: 20px;
        line-height: 20px;
    }
    .topo_do_site .txt_topo_site h1 span{
        font-size: 28px;
    }
    .nome{
        display: block;
        margin-top: 10px;
    }

    .img_topo_site img{
        width: 60%;
        margin-bottom: 40px;
        margin-top: -60px;
    }
    .topo_do_site .txt_topo_site p{
        font-size: 18px;
    }
    .btn_contato a{
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
    .btn_contato button{
        padding: 8px 20px;
        font-size: px;
    }
    .btn_social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn_social button{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}