.interface {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #00ff08;
}