.interface{
    max-width: 1280px;
    margin: auto;
}

header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header li a:hover {
    color: #fff;
}

header nav ul{
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .btn_contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

header .btn_contato button:hover{
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}